<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Factocal - Main</title>
  </head>
  <body>
    <div>   
        <h1> Factorial Calculator </h1>
        <div>
            <form action = "/calculate_fact" method = "POST">
                <label for = "number"> Enter number you want to calculate the factorial for => </label>
                <input type = "text" name = "number" id = "number" >
                <input type = "submit" value = "Calculate">
            </form>
        </div>
    </div>
  </body>
</html>